body{
    background-color: black;
}


div {
    background-color: black;
    display: flex;
}


input{
    background-color: rgb(89, 90, 90);
    padding: 2em;
    margin: 4em;
    width: 50%;
    border-radius: 2em;
    flex-direction: row;
    color:rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    text-align: center;
    align-self: center;


}

.container{
    flex-direction: column-reverse;
}

input:hover{
    background-color: rgb(62, 204, 62);
    color: antiquewhite;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*muestra de los resultados*/
.resultados{
    height: 6em;
    background-color: rgb(149, 160, 160);
    margin-left: 6em;
    width: 80%;
    align-self: center;
    padding: 0.5em;
}